<%= form_for(@depositemoney) do |f| %>
  <% if @depositemoney.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@depositemoney.errors.count, "error") %> prohibited this depositemoney from being saved:</h2>

      <ul>
      <% @depositemoney.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :balance %><br> 
    <%= f.number_field :balance, :id => "balance" %> Maximum U can Add 10000/-
  </div>
  <%= f.hidden_field :u_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">
$(document).ready(function () {
    $('#balance').keyup(function(){
        if ($(this).val() > 10000){
          alert("Maximum U can Add 10,000/-");
        }
    });
    $('#balance').keyup(function(){
        if ($(this).val() < 0){
          alert("Minimum U can Add 1 Rs./-");
        }
    });
});
</script>