<h1>Listing depositemoneys</h1>

<table>
  <thead>
    <tr>
      <th>Balance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @depositemoneys.each do |depositemoney| %>
      <tr>
      <% if depositemoney.u_id == current_user.id %>
        <td><%= depositemoney.balance %></td>
        <td><%= link_to 'Show', depositemoney %></td>
        <td><%#= link_to 'Edit', edit_depositemoney_path(depositemoney) %></td>
        <td><%= link_to 'Destroy', depositemoney, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Depositemoney', new_depositemoney_path %>
