<p id="notice"><%= notice %></p>

<p>
  <strong>Balance:</strong>
  <%= @depositemoney.balance %>
</p>

<%= link_to 'Edit', edit_depositemoney_path(@depositemoney) %> |
<%= link_to 'Back', depositemoneys_path %>
