
<%= form_for(@deposite) do |f| %>
  <% if @deposite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deposite.errors.count, "error") %> prohibited this deposite from being saved:</h2>

      <ul>
      <% @deposite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.select :user_id, @users.collect { |u| [u.name, u.id] } %>
  </div>
  <div class="field">
    <%= f.label :deposite_amt %><br>
    <%= f.number_field :deposite_amt, :id => "deposite_amt" %>
  </div>
    <%= f.hidden_field :u_id, :value => current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function () {
  // alert(1)
    $('#deposite_amt').keyup(function(){
          // alert(2)
        if ($(this).val() > 10000){
          alert("Maximum U Can Transfer 10,000/-");
        }
    });
    $('#deposite_amt').keyup(function(){
        if ($(this).val() < 0){
          alert("Minimum U can Add 1 Rs./-");
        }
    });
});
</script>