<h1>Listing deposites</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Deposite amt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deposites.each do |deposite| %>
      <tr>
        <% if deposite.u_id == current_user.id %>
            <td><%= current_user.name %></td>
            <td><%= deposite.deposite_amt %></td>
            <td><%= link_to 'Show', deposite %></td>
            <td><%#= link_to 'Edit', edit_deposite_path(deposite) %></td>
            <td><%= link_to 'Destroy', deposite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deposite', new_deposite_path %>
