<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @deposite.user_id %>
</p>

<p>
  <strong>Deposite amt:</strong>
  <%= @deposite.deposite_amt %>
</p>

<%= link_to 'Edit', edit_deposite_path(@deposite) %> |
<%= link_to 'Back', deposites_path %>
