

    <div class="hero-unit">
      <h2>Welcome, <%= current_user.name %></h2>
      <p>
      </p>
    </div>


<div class="list-group">
  <a href="#" class="list-group-item active">
    Profile
  </a>
  <a href="/depositemoneys/new" class="list-group-item list-group-item-action">Deposite Money In to Your own Account</a>
  <a href="/deposites/new" class="list-group-item list-group-item-action">Deposite to Another Account (Transfer)</a>
  <!-- <a href="#" class="list-group-item list-group-item-action">withdraw</a> -->
  <a href="/depositemoneys" class="list-group-item list-group-item-action">Statement OF deposite To your Own Account</a>
  <a href="/deposites" class="list-group-item list-group-item-action">Statement OF deposite To your Others Account</a>
</div>



    <div class="panel panel-success">
      <div class="panel-heading"><h3> <%= current_user.name %> Your Account Balance</h3></div>
      <div class="panel-body">Your Account Balance is Rs <%= current_user.balance %>/-</div>
    </div>