<!DOCTYPE html>
<html>
<head>
  <title>BankApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <% if flash[:alert] %>
      <div id="alert">
         <%= flash[:alert] %> 
      </div>
<% end %>
<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
       
        <nav>
          <a class="navbar-brand" href="/">Online Banking Managment System</a>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <li><%= link_to "Home", '/profile/index' %></li>
            <% else %>
                <li><%= link_to "Home", '/' %></li>
            <% end %>    
                <% if user_signed_in? %>
                  <li>
                  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
                  </li>
                  <% else %>
                  <li>
                  <%= link_to('Login', new_user_session_path)  %>  
                  </li>
                <% end %>
                <% if user_signed_in? %>
                  <li>
                  <%= link_to('Edit registration', edit_user_registration_path) %>
                  </li>
                <% else %>
                  <li>
                  <%= link_to('Register', new_user_registration_path)  %>
                  </li>
                <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>
</div>
</body>
</html>
